@mixin media($point) {
    $mobileS: "(max-width: 320px)";
    $mobileM: "(max-width: 375px)";
    $mobileL: "(max-width: 425px)";
    $mobileXL: "(max-width: 508px)";
    $tablet: "(max-width: 768px)";
    $laptop: "(max-width: 1024px)";
    $laptopL: "(max-width: 1350px)";
    $laptopXL: "(max-width: 1440px)";
    $desktop: "(max-width: 1600px)";

    @if $point == "mobileS" {
        @media #{$mobileS} {
            @content;
        }
    } @else if $point == "mobileM" {
        @media #{$mobileM} {
            @content;
        }
    } @else if $point == "mobileL" {
        @media #{$mobileL} {
            @content;
        }
    } @else if $point == "mobileXL" {
        @media #{$mobileXL} {
            @content;
        }
    } @else if $point == "tablet" {
        @media #{$tablet} {
            @content;
        }
    } @else if $point == "laptop" {
        @media #{$laptop} {
            @content;
        }
    } @else if $point == "laptopL" {
        @media #{$laptopL} {
            @content;
        }
    } @else if $point == "laptopXL" {
        @media #{$laptopXL} {
            @content;
        }
    } @else if $point == "desktop" {
        @media #{$desktop} {
            @content;
        }
    }
}
