// Colors
$primary: #ffffff;
$secondary: #f6f7f9;
$tertiaire: #7d5cfc;

$primaryDark: #000000;
$secondaryDark: #171717;

$grey: #596780;
$greyLight: #90a3bf;

$blue: #5b93ff;
$yellow: #ffd66b;

$border: #cfdded;
