.search-bar {
    position: relative;

    svg {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 25px;
        margin: auto;
    }

    input {
        border: 1px solid $border;
        border-radius: 25px;
        padding: 12px 70px;
        font-size: 14px;
        width: 500px;
        height: 100%;

        @include media("laptopL") {
            width: 400px;
        }

        @include media("laptop") {
            width: 300px;
        }
    }
}
