header {
    background-color: #fff;
    padding: 18px 40px;
    display: flex;
    justify-content: space-between;
    border: 1px solid $secondary;

    @import "./Panel/Panel.scss";
    @import "./SearchBar/SearchBar.scss";
}
