@import "./Utils/variables.scss";
@import "./Utils/mixins.scss";
@import "./Utils/keyframes.scss";

body {
    font-family: Compass-Bold;
    letter-spacing: 1px;

    #root {
        display: flex;
        height: 100vh;

        .menu {
            flex: 0 0 13%;

            @include media("desktop") {
                flex: 0 0 17%;
            }

            @include media("laptopL") {
                flex: 0 0 20%;
            }

            @include media("tablet") {
                flex: 0 0 20%;
            }

            @include media("mobile") {
                flex: 0 0 40%;
            }
        }

        .home {
            flex: 1 1 auto;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    button,
    input {
        outline: none;
        border: none;
        cursor: pointer;
    }

    .btn-plus {
        display: block;
        margin: auto 0;
        width: 30px;
        height: 30px;
        background-color: rgba($tertiaire, 0.8);
        border-radius: 50%;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            width: 10px;
            height: 2px;
            background-color: #fff;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
        }

        &::after {
            content: "";
            position: absolute;
            width: 10px;
            height: 2px;
            background-color: #fff;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            margin: auto;
            transform: rotate(90deg);
        }
    }
}

@font-face {
    font-family: Compass;
    src: url("../Assets/font/Compass.ttf") format("truetype");
}

@font-face {
    font-family: Compass-Bold;
    src: url("../Assets/font/CompassBold.ttf") format("truetype");
}

@import "./Utils/theme-mode.scss";

@import "../Layouts/Menu/Menu.scss";
@import "../Layouts/Header/Header.scss";

@import "../Pages/Project/Project.scss";
@import "../Pages/FileManager/FileManager.scss";
