@import "./Utils/variables.scss";
@import "./Utils/mixins.scss";

body {
    font-family: Compass-Bold;
    letter-spacing: 1px;

    #root {
        display: flex;
        height: 100vh;

        .menu {
            flex: 0 0 13%;

            @include media("tablet") {
                flex: 0 0 20%;
            }

            @include media("mobile") {
                flex: 0 0 40%;
            }
        }

        .home {
            flex: 1 1 auto;
        }
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

    button,
    input {
        outline: none;
    }
}

.dark-mode {
    background-color: $secondaryDark;
    color: #fff;

    .menu {
        background-color: $primaryDark;
        color: $greyLight;

        .logo h2 {
            color: #fff;
        }
    }
}

.light-mode {
    background-color: $secondary;

    .menu {
        background-color: $primary;
    }
}

@font-face {
    font-family: Compass;
    src: url("../Assets/font/Compass.ttf") format("truetype");
}

@font-face {
    font-family: Compass-Bold;
    src: url("../Assets/font/CompassBold.ttf") format("truetype");
}

@import "../Layouts/Menu/Menu.scss";
@import "../Layouts/Header/Header.scss";

@import "../Pages/Project/Project.scss";
@import "../Pages/FileManager/FileManager.scss";
